.navbar{
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid green;
    background-color: #D1FFBD;
}
.app_name{
    position: relative;
    left: 20px;
    width: 150px;
    height: 80px;
}
.search_form{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
}
.search_form input{
    height: 40px;
    width: 69%;
    background-color: aliceblue;
    border: 1px solid green;
    box-sizing: border-box;
    padding-left: 10px;
}
.search_form button{
    height: 40px;
    width: 29%;
    font-size: 1.1rem;
    background-color: gray;
    color: white;
    border: none;
}
.search_form button:hover{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
.logon{
    position: relative;
    right: 10px;
    width: auto;
    margin: auto;
    margin-right:20px;
    display: flex;
    align-items: center;    
}
.sign_up, .sign_in{
    border: none;
    background-color: transparent;
    color:black;
    font-size: 1.1rem;
    padding:10px;
    transition: all .2s ease-in-out;
}
.sign_up:hover{
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.sign_in:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.divider{
    font-size: 1.5rem;
    color: green;
}
.loggedinusername{
    position: relative;
    right: 40px;
    font-size: 1.1rem;
}
.userprofile,.logout{
    position: relative;
    right: 30px;
    height: 30px;
}
.logout:hover{
    transform: scale(1.05);
    cursor: pointer;

}